<!DOCTYPE html>
<html>
<head>
  <title>DiscoverYourTasteApp</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="navbar navbar-default visible-xs" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">

    <div class="navbar-collapse collapse navbar-right " id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills ">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation" class="inactive"><a href="#">PlayLists</a></li>
        <li role="presentation" class="inactive"><a href="#">Profile</a></li>
      </ul>
    </div>
  </div>
  <div id="user-widget" class="navbar-left" style="position: relative;top: 1.6em;left:0em">
    <% if current_user %>
        Welcome <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out",:class => "btn btn-info" %>
    <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in",:class => "btn btn-info" %>
    <% end %>
  </div>
  <div class="row" style="margin-top: 4em">
    <% flash.each do |key, value| %>
        <div class="alert alert-info fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= value %>
        </div>
    <% end %>
  </div>
  <%= yield %>
</div>

</body>
</html>
